<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
  <property name="hibernate.connection.url">jdbc:hsqldb:file:/home/malik/git/RSS-Calculation/Calculation/data/database</property>
  <property name="hibernate.dialect">org.hibernate.dialect.ProgressDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.connection.username">sa</property>
  <property name="hibernate.connection.password"></property>
  <mapping class="ru.malik.economics.model.UnitOfMeasure" resource="ru/malik/rss/Calculation/entity/UnitOfMeasure.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
